@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;

  --foreground: #ffffff;
  --background: #010101;

  --color-primary: #fc004e;
  --color-secondary: #00e7f9;
  --color-gray: #ababab;

  --gradient-primary: linear-gradient(
    89.63deg,
    var(--color-primary) -2.16%,
    var(--color-secondary) 115.27%
  );

  --text-22: 22px;

  --leading-full: 100%
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-figtree);
  }
}

@layer utilities {
  .container {
    @apply max-w-[1240px] w-full mx-auto px-4;
  }
  .bg-gradient {
    background: var(--gradient-primary);
  }
}
